.header {
    position: sticky;
    top: 0;

    .logo {
        --height: var(--layout-block-padding-double);
        height: var(--height);
        max-height: var(--height);
        width: auto;
    }
}
