header.header {
    backdrop-filter: unset;
    border-bottom: unset;
    box-shadow: unset;
    background-color: var(--color-accent-secondary);

    .logo {
        .img {
            display: block;
            --height: var(--layout-block-padding-double);
            height: var(--height);
            max-height: var(--height);
            width: fit-content;
        }
    }
}

footer.footer {
    padding-bottom: var(--layout-block-padding);

    text-align: center;

    a {
        display: inline-block;
    }
}
