.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--layout-section-spacing);

    .downloads {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--layout-section-spacing);

        @media (min-width: 940px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .version {
            display: grid;
            grid-template-columns: 1fr;

            a,
            button {
                display: block;
                width: 100%;
            }
        }
    }
}
